.tabbar-item {
    flex: 1;
    text-align: center;
    height: 49px;
    font-size: 14px;
    color: #000000;
}
.isRed {
    color: red;
}
.tabbar-item i {
    display: block;
    font-size: 22px;
    margin-top: 2px;
}